<div *ngFor="let card of dados" class="card mb-4 mt-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ card?.media_url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="row">
          <h5 class="card-title">
            <a href="{{urlProfile}}" target="_blank">
              <img (click)="openProfileInstagram(card?.username)"
              type="button"
              class="logo-instagram"
              src="https://static.cdninstagram.com/rsrc.php/v3/yb/r/lswP1OF1o6P.png"
              >
            </a>
            {{card?.username}}
          </h5>
        </div>
        <div class="row card-caption" >
          <p class="card-text">{{card?.caption}}</p>
        </div>
        <p class="card-text"><small class="text-muted">Publicado em {{card?.timestamp | date : 'dd/MM/yyyy - HH:mm'}}</small></p>
      </div>
    </div>
  </div>
</div>
