.navbar {
  position:absolute;
    width: 100%;
    height:auto;
}

.navbar, .navbar-fixed-top, .navbar-defeault {
  z-index:1!important;
}

.offcanvas-header {
  background-color: #1a1a1a;
  color: white;
}
