<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qual é a Boa?</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
 </head>
  <body>

    <div class="row nav-bar">
      <app-navbar></app-navbar>
    </div>

    <br>
    <br>
    <br>

    <div class="row mt-3">
      <app-carousel
        [dados]="dados"
        [autoSlide]="true"
      ></app-carousel>
    </div>

    <div class="row mt-3" id="cards">
      <app-cards
        [dados]="dados"
      ></app-cards>
    </div>

    <button *ngIf="showButton"
      class="button"
      (click)="showTop()"
      >⬆️
    </button>


  </body>
</html>
