// /* Responsive Styles */
// @media screen and (max-width: 767px) {
//   .card-container > *:not(.circle-link) ,
//   .terminal {
//     width: 100%;
//   }

//   .card:not(.highlight-card) {
//     height: 16px;
//     margin: 8px 0;
//   }

//   .card.highlight-card span {
//     margin-left: 72px;
//   }

//   svg#rocket-smoke {
//     right: 120px;
//     transform: rotate(-5deg);
//   }
// }

// @media screen and (max-width: 575px) {
//   svg#rocket-smoke {
//     display: none;
//     visibility: hidden;
//   }
// }


* {
  font-family: 'Open Sans', BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

body {
  //display: flex;
  //justify-content: center;
  //align-items: center;

  width: 100%;
  height: 100vh;

}

.button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  padding: 1rem;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  cursor: pointer;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #1a1a1a;
    border: 1px solid #fff;
    font-size: 2rem;
  }
}
